html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #222;
    background: rgb(33, 31, 31);
}

.pruebaimg {
    max-width: 20rem;
    max-height: 20rem;
    text-align: center;

}

img{
    max-width: 100%;
    max-height: 100%;
    /* z-index: -1; */
}

/* .pruebaimg{
    position: relative;
} */

.prueba8{
    position: absolute;
    top: 0;
    
    font-size: 5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.561);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* width: 100%; */
    
    
    
}


.card-body-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* .card-body-img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.934);
} */


.tipox {
    display: flex;
    gap: 1rem;
}

#tipo {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;


}

#roto {
    color: rgb(255, 0, 0);
}

#tipo1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

#tipo2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

.card-body {
    margin: 0 auto;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    margin: 5rem auto;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.803);
    max-width: 50rem;
    text-align: center;
    font-family: arial;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;

}








.card-hab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 1rem auto; */

    align-items: center;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: .5rem;
}

/* #hb4{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: .5rem;
} */

.hbs {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: .5rem;
    text-decoration: upperCase;
    text-align: center;
}

#btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: .5rem;
    cursor: pointer;

}

.text-a {
    text-align: end;
}










































.normal {
    background-color: gray;
    border-radius: 1rem;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;

}

.fire {
    background-color: rgb(255, 77, 0);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.water {
    background-color: #5e98ff;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.grass {
    background-color: #90E091;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.electric {
    background-color: yellow;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.ice {
    background-color: aqua;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.fighting {
    background-color: #c03028;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.poison {
    background-color: purple;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.ground {
    background-color: #E0C068;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.flying {
    background-color: #a890f0;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.psychic {
    background-color: rgb(255, 0, 255);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.bug {
    background-color: #A8B820;

    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
    cursor: pointer;
}

.ghost {
    background-color: #8f859f;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.dark {
    background-color: rgb(15, 14, 14);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    color: white !important;
    cursor: pointer;
}

.dragon {
    background-color: rgb(233, 206, 206);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.steel {
    background-color: #b8b8d0;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.fairy {
    background-color: rgb(255, 204, 204);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
}

.rock {

    background-color: #807870;
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;


}

@media (min-width: 380px) {
    .card {
        margin: 5rem auto;
        padding: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.803);
        max-width: 30rem;
        text-align: center;
        font-family: arial;
        background-color: rgb(241, 241, 241);
        border-radius: 1rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        /* background-color: red; */

    }

}


@media (min-width: 768px) {
    .card {
        margin: 5rem auto;
        padding: 3rem;
        box-shadow: 0 4px 8px 0 rgba(182, 170, 163, 0.803);
        max-width: 50rem;
        text-align: center;
        font-family: arial;
        background-color: rgb(241, 241, 241);

        border-radius: 1rem;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        /* background-color: red; */

    }


}





/* .prueba8 {
    background-color: rgb(221, 13, 13);
    border-radius: 1rem;
    margin: auto;
    padding: .4rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: auto;
    
    
} */

